@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 10px auto;
    width: 80%;
    background: #f5f0ec;
    font-family: Raleway;
    font-size: 16px;
    color: #2d3436;
    -webkit-box-shadow: -8px 13px 24px 5px rgba(68,75,84,1);
    -moz-box-shadow: -8px 13px 24px 5px rgba(68,75,84,1);
    box-shadow: -8px 13px 24px 5px rgba(68,75,84,1);
    display: flex;
}

.sidebar {
    width: 35%;
    background: #8f91a2;
}



.info, .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
     
}

.content {
    padding: 50px;
    width: 65%;
}

.exp {
    margin: 30px 0;
}

.foto {
    width: 200px;
    border-radius: 50%;
    border: solid 5px #f5f0ec;
    object-fit: fill;
    object-position: 100% 100%;
}

/* text */

.big {
    font-family: "Josefin Sans";
    font-size : 1.8rem;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

.medium {
    padding: 10px ;
    font-weight: 400;
    font-size : 1.2rem;
    
}

.small{
    font-size: 1rem;
    padding: 10px;
    font-weight: 300;
   
}

.bar {
    width: 70%;
    height: 20px;
    background-color: lightgray;
    border-radius: 200px;
    
  }

.bar-90::after {
    content: " ";
    width: 90%;
    height: 100%;
    background: linear-gradient(to right, #81E4DA, #47E5BC);
    display: inline-block;
    border-radius: 200px;
  }

.bar-80::after {
    content: " ";
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, #81E4DA, #47E5BC);
    display: inline-block;
    border-radius: 200px;
  }

.bar-60::after {
    content: " ";
    width: 60%;
    height: 100%;
    background: linear-gradient(to right, #81E4DA, #47E5BC);
    display: inline-block;
    border-radius: 200px;
  }

.d-block {
    display: block;
}

.date {
    float: right;
}

.bold {
    font-weight: 700;
}

/* responsive */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .sidebar {
        width: 100%;
    }

    .content {
        width: 100%;
        padding: 60px 10px;
    }

    .date {
        float: none;
        display: block;
    }
}
  